@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

body {
  background: linear-gradient(0deg, #f44286 24%, #ffffff23 92%);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 20px;
}

h1 {
  margin-bottom: 50px;
  color:#f44286;
}

.music-container {
  background: #ffffff29;
  border-radius: 15px;
  box-shadow: 0 20px 20px #f44286;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 500px;
  padding: 40px 30px;
  gap: 25px;
  text-align: center;
}

/* album art container */
.img-container {
  width: 275px;
  height: 275px;
  margin-bottom: 20px;
}

.img-container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  animation: rotate 4s linear infinite;
  animation-play-state: paused;
  transition: box-shadow 0.3s ease;
}

/* rotate when music plays */
.img-container img.rotating {
  animation-play-state: running;
  box-shadow:
    0 0 20px #f44286,
    0 0 40px #f44286,
    0 0 60px #fe8daa;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.music-info {
  width: 100%;
  padding: 10px 0;
  color:#ffffff;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #fff;
  border: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.progress {
  background: #f44286;
  height: 100%;
  width: 0%;
  border-radius: 5px;
  transition: width 0.1s linear;
}

.navigation {
  display: flex;
  gap: 20px;
}

.action-btn {
  background: #f44286;
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.action-btn-big {
  font-size: 20px;
  color: #ffffff;
}
